---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'schreib';

@charset "utf-8";
h1 {
  text-align: center;
}

.coco-site {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}
.coco-item {
  background-color: #21141b;
}
.coco-item__header {
  font-size: 1.1rem;
  margin-bottom: .5rem;

  padding-left:6.1em;
  text-indent: -6.12em;
}
.coco-item__header__title {
  font-size: 1.1rem;
}
.subject-list {
  padding: .5rem;
}

//Report
.report-wrapper {
  padding: 1.5rem;

  color: #000;
  background-color: #fff;
}
.report {
  max-width: 26cm;
  border: 2pt solid #000;
  margin: 0 auto;

  overflow: hidden;
}
.report-header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  border: 0 solid #000;
  border-bottom-width: 1pt;

}
.report-header-row:last-child {
  border-bottom-width: 2pt;
}

.report-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  border: solid #000;
  border-width: 0 1pt 0 0;

  font-size: 14pt;
  padding: 8pt;
}
.report-item:last-child {
  border-right-width: 0;
}
.report-title {
  margin: 0;
  font-size: 18pt;
}
.report-description {
  border-top-width: 1pt;
}

.report-body {
  padding: 8pt;
}

.report-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0 solid #000;
  border-top-width: 2pt;
}
.report-pagecounter {
  text-align: right;
}

//markdown
.report img{
  max-width: 100%;
}

.highlight {
  padding: 5px;

  background-color: #eee;
  border-radius: 5px;
  white-space: pre-wrap;
}
.report-attachments-wrapper{
  margin: 0 auto;
  max-width: 26cm;
  padding: .5rem;

  display: flex;
  flex-wrap: wrap;
}
.report-attachments {
  max-width: 13cm;

  background-color: $behind;
  border-radius: 5px;
  padding: 5px;
}
.report-attachments ul {
  list-style-type: none;
  padding-left: 0;
}

@media print {
  .report-attachments-wrapper {
    display: none;
  }
}
