---
layout: site
title: Home
---

  <div class="infobox">
    <p style="font-weight:bold; font-size:30px;">Ich wünsch euch allen viel Glück bei der Matura!</p>
    <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/319025590&amp;color=%23f7891f&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <p class="infobox-text">Da ich Maturiert habe, werde ich keine neuen Schulunterlagen mehr veröffentlichen. Ihr könnt aber eure eigenen Protokolle hinzufügen.</p>
    <a href="/contributions/unterstuetzen/" class="infobox-button s-link">Unterstützen</a>
  </div>

  {% include subject.html collection="nvs" %}
  {% include subject.html collection="dbi_gt" %}
  {% include subject.html collection="dbi_r" %}
  {% include subject.html collection="contributions" %}
