---
layout: site
title: Home
---

  <div class="infobox">
    <p class="infobox-text">Da ich Maturiert habe, werde ich keine neuen Schulunterlagen mehr veröffentlichen. Ihr könnt aber eure eigenen Protokolle hinzufügen.</p>
    <a href="/contributions/Unterstuetzen/" class="infobox-button s-link">Unterstützen</a>
  </div>

  {% include subject.html collection="nvs" %}
  {% include subject.html collection="dbi_gt" %}
  {% include subject.html collection="dbi_r" %}
  {% include subject.html collection="contributions" %}
