---
layout: default
---
<div class="report-wrapper">
  <div class="report">
    {% include report-header.html %}
      <div class="report-body">
          {{ content }}
      </div>
    {% include report-footer.html %}
  </div>
</div>
<div class="report-attachments-wrapper">
  <div class="report-attachments">
      <h3 class="s-title attachment-header"><i class="ion-link"></i> Anhänge</h3>
      <ul>
        {% include attachments.html path=page.url %}
      </ul>
  </div>
  <div class="report-attachments">
      <h3 class="s-title attachment-header"><i class="ion-images"></i> Bilder</h3>
      <ul>
        {% include images.html path=page.url %}
      </ul>
  </div>
</div>
